<!-- Main content -->

<% extend("../mainuser.ejs") %>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <a href="/vanbanden/vanbanchophanloai" class="btn btn-primary btn-block mb-3">Quay lại</a>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Phân loại văn bản</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <form action="/vanbanden/vanbanchophanloai/phanloai?id=<%=fileVanBan.id%>" method="POST">
                <label class="containerplvb">Văn bản để biết
                  <input type="radio" checked="checked" value="1" name="radio">
                  <span class="checkmarkplvb"></span>
                </label>
                <label class="containerplvb">VB thuộc thẩm quyền giải quyết của UBND TP
                  <input type="radio" value="2" name="radio">
                  <span class="checkmarkplvb"></span>
                </label>
                <label class="containerplvb">VB Thuộc thẩm quyền giải quyết của Văn Phòng UBND TP
                  <input type="radio" value="3" name="radio">
                  <span class="checkmarkplvb"></span>
                </label>
                <label class="containerplvb">VB không thuộc thẩm quyền giải quyết của UBND TP
                  <input type="radio" value="4" name="radio">
                  <span class="checkmarkplvb"></span>
                </label>

                <div>
                  <button type="submit" class="btn btn-primary btn-block">Phân loại</button>
                </div>
              </form>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card card-primary card-outline">
            <embed src="/uploads/<%=fileVanBan.namefileworld%>" width="700" height="575" type="application/pdf">
          </div>
          <!-- /.card -->

          </div>
          <!-- /.card -->
        </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->