<!-- Main content -->

<% extend("../mainuser.ejs") %>
  <section class="content">
    <div class="container-fluid">
      <div class="row">

        <div class="col-8 mt-4">
          <div class="card card-primary card-outline">
          <!-- <embed src="/VanBan/profile-1657464599821.pdf" width="700" height="575" type="application/pdf"> -->
             <embed src="/uploads/<%=fileVanbanDen.name%>" width="700" height="575" type="application/pdf">
          </div>

          <!-- /.card -->
        </div>
        <div class="col-4 mt-4">
          <div class="timeline">

            <div class="time-label">
              <span class="bg-red">Lịch Sử Văn Bản</span>
            </div>
            <% if(allXyLyVanBan.length!=0){ var i=1; allXyLyVanBan.forEach(function(data){ %>
              <div>
                <i class="fas  fa-user bg-green"></i>
                <div class="timeline-item">
                  <span class="time"><i class="fas fa-clock"></i>
                    <%=data.thoi_gian %>
                  </span>
                  <h3 class="timeline-header"><a href="#">
                      <%=data.name_user %>
                    </a>
                    <%=data.chuc_vu_user %>
                  </h3>

                  <% var hanhdong=data.hanhdong; %>
                    <% if ( hanhdong.toString()=="yes" ) { %>
                      <div class="timeline-body">
                        Đã phê duyệt
                      </div>
                      <%} else { %>
                        <div class="timeline-body">
                          Không phê duyệt
                        </div>
                        <% } %>
                </div>
              </div>
              <% i++; }) %>
                <% } else{ %>
                  <% } %>
                    <div>
                      <i class="fas fa-clock bg-gray"></i>
                    </div>
          </div>

        </div>
        <!-- /.card -->
      </div>



      <!-- /.col -->
    </div>
    <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->